﻿@model List<FirstMVCApp.DAL.Entities.Category> 
@{
    ViewData["Title"] = "Category";
}

<h1>Category</h1>

<table>
    <tr>
        <th>Категория</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
        </tr>
    }
</table>

