﻿@model List<FirstMVCApp.DAL.Entities.Brand>

@{
    ViewData["Title"] = "Brands";
}

<h1>Brands</h1>

<table>
    <tr>
        <th>Бренд</th>        
    </tr>
    @foreach (var brand in Model)
    {
    <tr>
        <td>@brand.Name</td>
    </tr>
    }
</table>